{% extends 'base.html' %}
{% block title %}Signin{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/assets/css/style.css">
{% endblock style %}
{% block body %}
<div >
    <main id="main">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Signup</h2>
                   <form action="/register/" method="POST">{% csrf_token %}
                    <div style="text-align: center;  display: flex; justify-content: center; flex-direction:column; align-items:center;" >
                        <div class="container1" ><input class="form-control" type="text" placeholder="First Name" id="first_name" name="first_name"></div>
                        <div class="container1"><input type="text" class="form-control" placeholder="Last Name" id="last_name" name="last_name"></div>
                        <div class="container1"><input type="email" class="form-control" placeholder="Email ID" id="email" name="email"></div>
                        <div class="container1"><input type="text" class="form-control" placeholder="Username" id="username" name="username"></div>
                        <div class="container1"><input type="password" class="form-control" placeholder="Password" id="password1" name="password1"></div>
                        <div class="container1"><input type="password" class="form-control" placeholder="Confirm Password" id="password2" name="password2"></div>
                    
                    </div>
                    <input type="checkbox" onclick="showpass()">Show Password

                    {% comment %} <div class="container1"><button type="submit" onclick="showme()" id="verify" style="background-color: rgb(91, 91, 105); color: white;">Verify Email</button> {% endcomment %}
                        <div class="text-center"><button type="submit" class="mess_bt"  onclick="showme()" id="verify">Submit</button></div>
                    
                    <div class="container1">Already have an account ?  <a href="/login/">Login</a> </div>
                </div>
                </form>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock body %}


{% comment %} {%extends "blog/base.html" %} {% endcomment %}

{% comment %} {% block content %}
<form action="/register/" method="POST"> {% csrf_token %} {% endcomment %}
    {% comment %} <div class="container mt-5">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="first_nam" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form> 
{% endblock %}{% endcomment %}
